<div class="paragraph-section">
	<h2>“ศิลปหัตถกรรมอันงดงามแห่งโทโฮขุญี่ปุ่น”</h2>
	<p>
		เป็นนิทรรศการที่จัดขึ้นเพื่อระลึกถึงโอกาสครบรอบเหตุการณ์แผ่นดินไหวและสึนามิที่เกิดขึ้นที่โทโฮขุเมื่อวันที่ 11 มีนาคม 2554 ซึ่งทำให้ภูมิภาคโทโฮขุที่ขึ้นชื่อด้านความงดงามของเทือกเขา ทิวทัศน์ท้องทะเลและอุดมไปด้วยวัฒนธรรมท้องถิ่นและประวัติศาสตร์ ได้รับความเสียหายและถูกทำลายเป็นวงกว้างอย่างไม่เคยเกิดขึ้นมาก่อน</p>
		<img src="images/tohoku-exhibition.png" alt="Beautiful Handicrafts of Tohoku, Japan" style="  float: right; margin: 30px 0 0 50px;"/>

	<p>เกิดความสูญเสียอย่างใหญ่หลวง วัฒนธรรมด้านศิลปหัตถกรรมและการผลิตได้รับผลกระทบอย่างรุนแรง ผู้คนท้องถิ่นต่างได้รับผลกระทบจากภัยธรรมชาติในครั้งนั้น ทว่าพวกเขาได้ร่วมมือร่วมใจทำงานร่วมกันอย่างใกล้ชิด เพื่อสรรสร้างและมุ่งมั่นสร้างความสงบและความปกติสุขให้กลับคืนมาสู่ชีวิตของพวกเขาให้เร็วที่สุดเท่าที่จะทำได้
	</p>
	<p>
		นิทรรศการนี้ชวนให้เราระลึกถึงมรดกทางศิลปะและหัตถกรรมอันเป็นเอกลักษณ์อันดึงดูดของโทโฮขุอีกครั้ง การจัดแสดงผลงานนานาประเภท เช่น เครื่องเคลือบ เครื่องเขิน สิ่งทอ งานโลหะ งานหัตถกรรมจากไม้ และไม้ไผ่ จะทำให้ผู้เข้าชมเพลิดเพลินไปกับความหลากหลายและโลกอันวิจิตรบรรจงของประเพณีแบบโทโฮขุ
	</p>
	<p>ผลงานที่รวมอยู่ในนิทรรศการนี้เสนอโอกาสที่จะค้นพบเทคนิคชั้นสูงทางด้านศิลปหัตถกรรมแบบดั้งเดิมที่ฟูมฟักกันมาในภูมิภาคโทโฮขุ และความงามของอุปกรณ์เครื่องใช้สอยในชีวิตประจำวันที่ใช้กันมาในญี่ปุ่นตั้งแต่อดีตกาลอีกครั้ง ผลงานศิลปหัตกรรมเหล่านี้จะช่วยให้เราเข้าใจภูมิปัญญาชาวบ้านที่ได้มาจากการใช้ชีวิตอย่างใกล้ชิดกับธรรมชาติ ทักษะฝีมือ และความชำนาญที่พัฒนาขึ้นจากภูมิปัญญาเหล่านั้นได้มากยิ่งขึ้น</p>

	<p>เราใคร่ขอแสดงความขอบคุณจากใจไปยัง คุณริวอิจิ มัตทซึบาระ หัวหน้าภัณฑารักษ์ของงานนิทรรศการ รวมทั้งผู้คนทั้งหลายที่ให้คำแนะนำและความร่วมมืออันทรงคุณค่ายิ่ง เราขอถือโอกาสนี้แสดงความขอบคุณไปยังข้อความและความช่วยเหลืออันอบอุ่น และให้กำลังใจที่มาจากต่างประเทศอันเนื่องมาจากภัยพิบัติแผ่นดินไหว</p>

	<p>ความเป็นจริงยังคงหนักหน่วงในหลากหลายพื้นที่ของภูมิภาคนี้ ทำให้ยังมีผู้คนอาศัยอยู่ในศูนย์อพยพและตามสถานที่ต่างๆ อันห่างไกลไปจากบ้านเดิมของเขา เรายังทำงานร่วมกับผู้คนของภูมิภาคโทโฮขุต่อไป และให้การสนับสนุนความพยายามที่จะสร้างพื้นที่ให้ฟื้นคืนดังเดิมให้เร็วที่สุดเท่าที่เป็นไปได้</p>
</div>
<br /><br />
<div class="paragraph-section">
	<h2>“Beautiful Handicrafts of Tohoku, Japan”</h2>
	<p>is an exhibition planned to mark the March 11 anniversary of the 2011 Tohoku Earthquake and Tsunami. The Tohoku region, known for its beautiful mountains and seascapes as well as its rich local culture and history, suffered damage and destruction of unprecedented proportions.</p>

	<div class="pull-right clear tohoku-map center">
		<img src="images/tohoku-map.png" alt="Tohoku Map" style="width: 610px; height: 620px;">
		<div class="img-text hanmaki-doll-text">
			Beautiful Handicrafts of Tohoku, Japan. Leaflet (2015)
		</div>
	</div>

	<p>Much was lost, and manufacturing and handicraft culture were hard hit. People in local areas affected by the disaster, however, have been working closely together to rebuild, intent on restoring peace and normality to their lives as soon as possible.</p>

	<p>This exhibition reminds us once again of the distinctive appeal of Tohoku’s heritage of arts and craft. The displays present works of various genres—ceramics, lacquerware, textiles, metalwork, wood and bamboo crafts, etc.—allowing visitors to enjoy the diverse and exquisite world of Tohoku traditions.</p>

	<p>
		The works included in the exhibit present an opportunity to discover anew the high level of traditional craft techniques nurtured in the Tohoku region and the functional beauty of daily implements used since ancient times in Japan. The art and craftsmanship of these works also help us to better appreciate the folk wisdom derived from lives lived close to nature and the manual skills and dexterity cultivated out of that wisdom.</p>

		<p>We would like to express our heartfelt thanks to Ryuichi Matsubara, curatorial supervisor of the exhibition, and many others for their valuable advice and cooperation. We would also like to take this opportunity to express our gratitude for the many warm and encouraging messages and assistance received from overseas following the earthquake disaster.</p>

		<p class="clear">Reality remains harsh in various parts of the region where many people still live uncertain lives in evacuation shelters and other places far removed from their original homes. We will continue to work with the people of Tohoku, dedicated to supporting their efforts to reconstruct the stricken areas with all possible speed.</p>
</div>