<div class="col-wrapper">
	<div class="one-col pull-left">
		<h2>นิทรรศการ “ศิลปหัตถกรรมอันงดงามแห่งโทโฮขุ-ญี่ปุ่น”</h2>
		<p>TCDC เชียงใหม่ ร่วมกับ เจแปนฟาวน์เดชั่น กรุงเทพฯ และสถานกงสุลใหญ่ญี่ปุ่น ณ นครเชียงใหม่ เชิญคุณมาร่วมสัมผัสความวิจิตรงดงามของมรดกทางวัฒนธรรมของภูมิภาคโทโฮขุ แห่งแดนอาทิตย์อุทัย ในนิทรรศการสัญจร “ศิลปหัตถกรรมอันงดงามแห่งโทโฮขุ” จากประเทศญี่ปุ่น
	พบกับ 70 ผลงานศิลปหัถกรรมที่แสดงถึงเทคนิคชั้นสูงแบบดั้งเดิมที่เป็นมรดกทางวัฒนธรรมของภูมิภาคโทโฮขุ อันประกอบด้วย เครื่องเขิน เครื่องเคลือบดินเผา งานปัก สิ่งทอ เครื่องจักสาน งานดัดไม้ เครื่องโลหะ และงานวาดระบายสี เป็นต้น</p>
	</div>
	<div class="one-col pull-right">
		<h2>“Beautiful Handicrafts of Tohoku, Japan” Exhibition</h2>
		<p>TCDC Chiang Mai in collaboration with The Japan Foundation, Bangkok and Consulate-General of Japan in Chiang Mai invite you to explore the beauty of cultural heritage of Tohoku region in the traveling exhibition “Beautiful Handicrafts of Tohoku” from Japan.<br />
	Seventy of traditional handicrafts with high level techniques nurtured in the Tohoku region from ceramics, lacquer ware, textiles, metalwork to wood and bamboo crafts, etc.
	</p>
	</div>
</div>

<ul class="tohoku-item-list item">
	<li>
		<a ui-sref="artist.mingei.shiko-munakata" title="ศิลปินกลุ่มมินเงอิ" class="table">
			<div class="item-img"><img src="images/09.png" alt="ศิลปินกลุ่มมินเงงิ"/></div>
			<div class="item-text arrow-right">ศิลปินกลุ่มมินเงงิ<br /> The Mingei Movement Artists</div>
		</a>
	</li>
	<li>
		<a ui-sref="handicrafts.blunging" title="ภาชนะดินเผา">
			<div class="item-img"><img src="images/02.png" alt="ภาชนะดินเผา"/></div>
			<div class="item-text arrow-right">ภาชนะดินเผา<br />Blunging</div>
		</a>
	</li>
	<li>
		<a ui-sref="handicrafts.stitching" title="การปักผ้า">
			<div class="item-img"><img src="images/03.png" alt="การปักผ้า"/></div>
			<div class="item-text arrow-right">การปักผ้า<br />Embroidery stitching</div>
		</a>
	</li>
	<li>
		<a ui-sref="handicrafts.stitching" href="#dyeing" title="การมัดย้อมและการทอผ้า">
			<div class="item-img"><img src="images/04.png" alt="การมัดย้อมและการทอผ้า"/></div>
			<div class="item-text arrow-right">การมัดย้อมและการทอผ้า<br />Dyeing / Weaving</div>
		</a>
	</li>
	<li>
		<a ui-sref="handicrafts.basket-weaving" title="การสานตะกร้า">
			<div class="item-img"><img src="images/05.png" alt="การสานตะกร้า"/></div>
			<div class="item-text arrow-right">การสานตะกร้า<br />Basket Weaving</div>
		</a>
	</li>
	<li>
		<a ui-sref="handicrafts.woodwork" title="การตัดผ้าและเปลือกไม้">
			<div class="item-img"><img src="images/06.png" alt="การตัดผ้าและเปลือกไม้"/></div>
			<div class="item-text arrow-right">การตัดผ้าและเปลือกไม้<br />Bent Woodwork and Bark Craftsmanship</div>
		</a>
	</li>
	<li>
		<a ui-sref="handicrafts.casting" title="การหลอมเหล็ก">
			<div class="item-img"><img src="images/07.png" alt="การหลอมเหล็ก"/></div>
			<div class="item-text arrow-right">การหลอมเหล็ก<br />Casting</div>
		</a>
	</li>
	<li>
		<a ui-sref="handicrafts.painting" title="การวาดระบายสี">
			<div class="item-img"><img src="images/08.png" alt="การวาดระบายสี"/></div>
			<div class="item-text arrow-right">การวาดระบายสี<br />Painting</div>
		</a>
	</li>
	<li>
		<a ui-sref="handicrafts.lacquering" title="เครื่องเขิน">
			<div class="item-img"><img src="images/01.png" alt="เครื่องเขิน"/></div>
			<div class="item-text arrow-right">เครื่องเขิน<br />Lacquering</div>
		</a>
	</li>
</ul>