<div class="paragraph-section">
	<h2>โทโฮขุ และการเคลื่อนไหวของศิลปินกลุ่มมินเงอิ</h2>
	<div class="p1-artist pull-left">
		<p>
			ศิลปินอย่าง คันจิโร คาวาอิ (Kanjiro Kawai) และโชจิ ฮามาดะ (Shoji Hamada) เคสุเกะเซริซาวะ (Keisuke Serizawa) และชิโกะ มุนาคาตะ (Shiko Munakata) ต่างก็มีส่วนร่วมอย่างลึกซึ้งในการเคลื่อนไหวของศิลปินกลุ่มมินเงอิ ภายใต้การนำของ โซเอะทซึ ยานางิ โดยยานางิให้เหตุผลไว้ว่า มีความงดงามแฝงอยู่ในงานหัตถกรรมของคนธรรมดาที่ไร้ซึ่งชื่อเสียงเรียงนาม วัตถุประสงค์ของกลุ่มคือการค้นพบและชื่นชมความงามอันซ่อนเร้นเหล่านั้น คาวาอิ ฮามาดะ เซริซาวะ และศิลปินท่านอื่นๆ ที่เห็นพ้องและมีความศรัทธาแบบเดียวกับยานางิในเรื่องความงามนี้ จึงเดินทางร่วมกับเขาไปยังสถานที่ต่างๆ เพื่อรวบรวมงานหัตถกรรมพื้นบ้านต่างๆ ทั่วประเทศ 
		</p>
		<p>
			ศิลปินที่มีส่วนร่วมในการเคลื่อนไหวของกลุ่มมินเงอิต่างก็ได้รับอิทธิพลอย่างยิ่งทั้งด้านจิตวิญญาณและศิลปะจากผู้คนและงานหัตถกรรมของภูมิภาคโทโฮขุ มุนาคาตะซึ่งเกิดและเติบโตในจังหวัดอากิตะ รู้สึกผูกพันกับจังหวัดบ้านเกิดเป็นพิเศษ เซริซาวะ ฮามาดะ และคาวาอิ ได้ให้คำแนะนำต่อช่างฝีมือท้องถิ่น ไม่เพียงเพื่ออนุรักษ์รูปแบบลวดลายดั้งเดิมไว้เท่านั้น แต่ยังได้ออกแบบรูปแบบลวดลายใหม่ซึ่งมีความทันสมัยเข้าไปในงานหัตถกรรมท้องถิ่นด้วย กิจกรรมเหล่านี้ได้เติมลมหายใจแห่งชีวิตให้แก่งานหัตถกรรมของโทโฮขุ แต่น่าเสียดายที่ในขณะเดียวกัน กลับทำให้แง่มุมอันสำคัญในเรื่อง “ช่างฝีมือไร้ชื่อ” อ่อนลงไปด้วย และกลับทำให้บุคคลและท้องถิ่นที่เป็นแหล่งผลิตหัตถกรรมเหล่านั้นมีชื่อขึ้น อย่างไรก็ดี ต้องขอขอบคุณกิจกรรมโดยเหล่าผู้นำการเคลื่อนไหวกลุ่มมินเงอิที่ทำให้ศิลปหัตถกรรมแห่งภูมิภาคโทโฮขุได้รับการสืบทอดมาจนถึงปัจจุบัน ทำให้เราได้ชื่นชม “ความงามในเครื่องมือเครื่องใช้” ที่หัตถกรรมเหล่านี้นำเสนอ
		</p>
	</div>

	<div class="pull-left tohoku-mingei">
		<img src="images/tohoku-mingei.png" style="width: 360px; height: 475px;" alt="โทโฮขุ และการเคลื่อนไหวของศิลปินกลุ่มมินเงอิ"/>		
	</div>
</div>

<div class="paragraph-section">
	<h2>Tohoku and the Mingei Movement Artists</h2>
	<div class="p2-artist clear">
		<p>
			Artists such as Kanjiro Kawai, Shoji Hamada, Keisuke Serizawa and Shiko Munakata were deeply involved in the mingei movement led by Soetsu Yanagi. According to Yanagi, beauty lies hidden in handicrafts created by unknown craftsmen, and the discovery and appreciation of such hidden beauty was the objective of the movement. Kawai, Hamada, Serizawa and other artists shared Yanagi’s thoughts, and joined him in his tours of collecting various local handicrafts throughout the country.</p>

			<p>The artists involved in the mingei movement were greatly influenced, both spiritually and artistically, by the people and craft works of the Tohoku region. Munakata, who was born and raised in Aomori prefecture, was especially attached to his home province. Serizawa, Hamada and Kawai offered guidance to the local craftsmen, not only in preserving their traditional designs, but also creating new designs which add a modern appeal to the local crafts. These activities breathed new life into the handicrafts of the Tohoku region, but ironically, weakened the important aspect of the “unknown craftsman,” and brought forward the prominent names and the locales where such crafts were made. Nevertheless, it is thanks to the activities of the mingei movement leaders that the beautiful handicrafts of the Tohoku region have been passed down to this day, allowing us to appreciate the “beauty in utility” that these crafts represent.</p>
	</div>
</div>
