<ul class="artist-list center">
	<li class="artist-name artist-01 center shiko-munakata" ui-sref-active="active">
		<a ui-sref="artist.mingei.shiko-munakata">
			<img src="images/tab-01.png" alt="ชิโกะ มุนาคาตะ Shiko MUNAKATA 1903-1975"/>
			<div class="name th-sarabun-bold">ชิโกะ มุนาคาตะ<br />Shiko MUNAKATA<br />1903-1975</div>
		</a>
		<div class="arrow-active-wrapper">
			<div class="arrow-active"></div>
		</div>
	</li>
	<li class="artist-name artist-02 center keisuke-serizawa" ui-sref-active="active">
		<a ui-sref="artist.mingei.keisuke-serizawa">
			<img src="images/tab-02.png" alt="เคสุเกะ เซกิวาระ Keisuke SERIZAWA 1895-1984"/>
			<div class="name th-sarabun-bold">เคสุเกะ เซกิวาระ<br />Keisuke SERIZAWA<br />1895-1984</div>
		</a>
		<div class="arrow-active-wrapper">
			<div class="arrow-active"></div>
		</div>
	</li>
	<li class="artist-name artist-03 center shoji-hamada" ui-sref-active="active">
		<a ui-sref="artist.mingei.shoji-hamada">
		<img src="images/tab-03.png" alt="โชจิ ฮามาดะ Shoji HAMADA 1894-1978"/>
		<div class="name th-sarabun-bold">โชจิ ฮามาดะ<br />Shoji HAMADA<br />1894-1978</div>
		</a>
		<div class="arrow-active-wrapper">
			<div class="arrow-active"></div>
		</div>
	</li>
	<li class="artist-name artist-04 center kanjiro-kawai last" ui-sref-active="active">
		<a ui-sref="artist.mingei.kanjiro-kawai">
			<img src="images/tab-04.png" alt="คันจิโร คาวาอิ Kanjiro KAWAI 1890-1966"/>
			<div class="name th-sarabun-bold">คันจิโร คาวาอิ<br />Kanjiro KAWAI<br />1890-1966</div>
		</a>
		<div class="arrow-active-wrapper">
			<div class="arrow-active"></div>
		</div>
	</li>
</ul>

<div class="artist-content" ui-view></div>
