@font-face {
  font-family: 'th_sarabun_newbold';
  src: url("fonts/thsarabunnew_bold.eot");
  src: url("fonts/thsarabunnew_bold.eot?#iefix") format("embedded-opentype"), url("fonts/thsarabunnew_bold.woff") format("woff"), url("fonts/thsarabunnew_bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'th_sarabun_newreg';
  src: url("fonts/thsarabunnew_regular.eot");
  src: url("fonts/thsarabunnew_regular.eot?#iefix") format("embedded-opentype"), url("fonts/thsarabunnew_regular.woff") format("woff"), url("fonts/thsarabunnew_regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
.th-sarabun-bold {
  font-family: 'th_sarabun_newbold',Thonburi, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 24px;
  line-height: 26px; }

.th-sarabun {
  font-family: 'th_sarabun_newreg',Thonburi, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 24px;
  line-height: 26px; }
  .th-sarabun strong {
    font-family: 'th_sarabun_newbold',Thonburi, Helvetica, sans-serif;
    font-weight: 100; }

h1, h2 {
  font-family: 'th_sarabun_newbold',Thonburi, Helvetica, sans-serif;
  font-weight: 100;
  padding-left: 2px; }

h1 {
  font-size: 34px; }

h2 {
  font-size: 31px; }

html {
  height: 100%; }

body {
  font-family: "Thonburi","Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #484848; }

ul {
  margin: 0;
  padding: 0; }

ul li {
  list-style: none; }

a {
  color: #333;
  text-decoration: none; }
  a:hover, a:focus, a.active {
    text-decoration: underline;
    color: #333; }

.hide-text {
  display: inline-block;
  text-indent: -999em; }

.table {
  display: table; }

.middle {
  display: table-cell;
  vertical-align: middle; }

.center {
  text-align: center; }

.border-box {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.clear {
  clear: both; }

.wrapper {
  width: 995px;
  margin: 0 auto; }

.all-animate {
  animation: all 5s ease-in;
  -webkit-animation: all 5s ease-in;
  -moz-animation: all 5s ease-in; }

.arrow-right {
  position: relative; }

.arrow-right:after {
  content: '\00a0';
  border-left: 5px solid #979797;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  display: inline-block;
  width: 0;
  height: 0;
  position: absolute;
  top: 8px;
  margin-left: 8px; }

.img-text {
  font-size: 11px;
  line-height: 14px; }

.paragraph-section {
  margin-bottom: 65px;
  overflow: hidden; }

.one-col {
  width: 420px; }

.not-front .header {
  overflow: hidden;
  margin-bottom: 80px; }
.not-front .logo {
  float: left; }
.not-front .wrapper {
  padding: 30px 0; }

.main-menu {
  float: right; }
  .main-menu ul li {
    display: inline-block;
    margin-left: 20px; }
  .main-menu ul li.active a {
    text-decoration: underline; }

.page-index {
  background-color: #000;
  height: 100%; }
  .page-index .wrapper {
    background: url(images/all-item.png) no-repeat 0 bottom;
    min-height: 790px;
    height: 100%; }

.logo-table {
  padding-bottom: 370px;
  height: 100%;
  width: 100%; }

.btn-enter {
  text-transform: uppercase;
  border: 1px solid #484848;
  color: #484848;
  padding: 15px;
  min-width: 255px;
  display: inline-block;
  margin-top: 10px; }
  .btn-enter:hover, .btn-enter:focus, .btn-enter:active {
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none; }

.tohoku-item-list {
  margin-bottom: 60px; }
  .tohoku-item-list li {
    width: 33%;
    text-align: center;
    display: inline-block;
    margin-bottom: 20px; }
  .tohoku-item-list li a {
    display: inline-block; }
  .tohoku-item-list .item-img {
    height: 218px;
    vertical-align: bottom;
    display: table-cell; }

.item-text {
  font-size: 11px; }

.basket-item a {
  position: relative;
  width: 188px; }

.basket-item img {
  position: absolute;
  bottom: -35px;
  right: 0;
  z-index: -1; }

.artist-item a {
  width: 156px;
  height: 156px;
  border-radius: 80px;
  background-color: #000; }
.artist-item .text-artist {
  color: #fff;
  height: 156px;
  width: 156px; }
.artist-item .arrow-right:after {
  top: 38px; }

.p2-home {
  width: 625px; }

.p3-home {
  width: 255px; }

.hanmaki-doll-text {
  padding: 0 27px; }

.hanmaki-doll {
  width: 255px;
  text-align: center; }

.list-artist-info > li {
  display: none; }

.list-artist-info > li.show {
  display: block; }

.p1-artist {
  width: 420px; }

.tohoku-mingei {
  margin-left: 115px; }

.p2-artist {
  width: 900px; }

.artist-name {
  display: inline-block;
  margin-right: 60px; }
  .artist-name.last {
    margin-right: 0; }

.bg-handicraft {
  background-repeat: no-repeat;
  background-position: right bottom; }

.bg-basket {
  background-position: right -80px;
  background-image: url(images/basket-weaving.png); }

.list-img-handicraft .img-handicraft {
  float: left;
  margin-left: 5px; }
  .list-img-handicraft .img-handicraft.first {
    margin: 0; }

.slider-wrapper {
  position: relative; }

.slider {
  margin-top: 80px;
  position: relative;
  padding: 0 0 50px;
  width: 360px;
  height: 240px; }

.arrows {
  position: absolute;
  bottom: 0;
  left: 0; }

.slide {
  position: absolute;
  top: 0;
  left: 0; }

.slide.ng-hide-add, .slide.ng-hide-remove {
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
  display: block !important; }

.slide.ng-hide-add.ng-hide-add-active, .slide.ng-hide-remove {
  opacity: 0; }

.slide.ng-hide-add, .slide.ng-hide-remove.ng-hide-remove-active {
  opacity: 1; }

.ico-slide-ctrl {
  display: inline-block;
  width: 28px;
  height: 28px;
  background: url(images/slide-ctrl.png) no-repeat 0 0; }
  .ico-slide-ctrl:hover {
    background-position: 0 -40px; }

.ico-next {
  background-position: -40px 0;
  margin-left: 10px; }
  .ico-next:hover {
    background-position: -40px -40px; }

.image-current {
  position: absolute;
  bottom: 0;
  right: 0; }

/*# sourceMappingURL=style.css.map */
