<div class="pull-left">
	<div class="stitching">
		<div>
			<h2>การปักผ้า</h2>
			<div class="pull-right slider-wrapper" ng-controller="StitchingSliderController">
				<div class="image-current">{{ currentIndex }} / 10</div>
				<slider images="images" imgnumber="currentIndex"  />
			</div>
			<p>
				การปักแบบโคงิน (Kogin) เป็นประเภทของการปักผ้าแบบหนึ่งที่ได้รับการสืบทอดต่อกันมาในตำบลทสึงารุ จังหวัดอาโอโมริ (Tsugaru, Aomori prefecture) แต่เดิมโคงินเป็นคำท้องถิ่นที่ใช้เรียกเสื้อผ้าที่ใช้ใส่ทำงานเป็นเสื้อย้อมครามที่ทำจากเส้นใยของพืชตระกูลปอแล้วเย็บด้วยด้ายที่ทำจากผ้าฝ้ายในสมัยเอโดะ (Edo Period) (ปลายกรุงศรีอยุธยา ถึงต้นรัชกาลที่ 5) รัฐบาลประกาศใช้กฏหมายควบคุมความฟุ่มเฟือยกับชาวนาและชนชั้นล่าง โดยไม่อนุญาตให้สวมใส่กิโมโนผ้าฝ้ายและให้สวมใส่ได้เฉพาะกิโมโนที่ทำจากผ้าปอเท่านั้น ทว่ากิโมโนที่เย็บขึ้นจากเส้นปอหยาบๆ นั้นไม่เหมาะสมต่อการใช้งานในฤดูหนาวอันโหดร้ายของภูมิภาคโทโฮขุ ดังนั้น เมื่อมีการทำเส้นด้ายจากฝ้ายขึ้น ชาวนาท้องถิ่นจึงเริ่มนำด้ายดังกล่าวมาเย็บตรึงกิโมโนให้แน่นหนามากขึ้น เพื่อกันไม่ให้ลมหนาวเล็ดลอดเข้ามาได้ ในช่วงแรกๆ การเย็บทำโดยพวกผู้หญิง ซึ่งมักจะแข่งขันกันคิดค้นลวดลายว่าของใครสวยกว่ากันในตำบลสึงารุมีโคงินหลากหลายแบบ เช่น นิชิ-โคงิน หรือโคงินตะวันตก (Nishi-kogin)     ฮิงาชิ-โคงิน หรือโคงินตะวันออก (Higashi-kogin) และมิชิมะ-โคงิน (Mishima-kogin)
			</p>
		</div>
		<div>
			<br />
			<h2>Embroidery stitching</h2>
			<p>Kogin is a kind of embroidery stitching handed down in the Tsugaru district of Aomori prefecture. Originally a local name of the working clothes, kogin is basically an indigo-dyed hemp cloth reinforced with white cotton stitches. During the Edo period, sumptuary edicts were issued toward peasants and farmers, allowing them only to wear hemp kimonos, not cotton kimonos. However, kimonos made of rough hemp fibers were unsuitable for the harsh winters of Tohoku. Therefore, when cotton threads became available, local farmers started to reinforce the hemp cloth with dense stitching, thereby protecting themselves from the severe cold. The stitching was primarily done by the women, who competed with each other to create the most beautiful stitching patterns. There are several styles of kogin in the Tsugaru district, such as Nishi – kogin (West kogin), Higashi-kogin (East kogin) and Mishima-kogin.</p>
		</div>
		<br />
		<div id="dyeing">
			<h2>การมัดย้อมและการทอผ้า</h2>
			<p>
				แม้ว่าจำนวนเทคนิคการมัดย้อมและการทอผ้าในภูมิภาคโทโฮขุจะมีไม่มากนักเมื่อเทียบกับที่อื่นๆ ที่เป็นแหล่งอุตสาหกรรมชั้นนำด้านสิ่งทออย่างเกียวโต (Kyoto) แต่ที่ภูมิภาคนี้มีวัฒนธรรมสิ่งทออันเป็นเอกลักษณ์เฉพาะของโทโฮขุ ยกตัวอย่าง ไหมมัดย้อมธรรมชาติ อากิตะ ฮาฉิโจ (Akita Hachijo) จากจังหวัดอากิตะ และเทคนิคการย้อมผ้าด้วยมือแบบทสึทสึ-งาคิ (Tsutsu-gaki) จากจังหวัดฟุคุชิมะที่ได้นำมาแสดงที่งานนิทรรศการครั้งนี้ ต่างก็เป็นงานที่เป็นเอกลักษณ์เฉพาะของภูมิภาคโทโฮขุ
			</p>
		</div>
		<div>
			<br />
			<h2>Dyeing / Weaving</h2>
			<p>Even though the number of dyeing and weaving techniques in Tohoku are limited compared with leading places of the textile industry such as Kyoto, there is a unique textile culture in Tohoku. “Akita Hachijo (natural dye silk)” fabric from Akita prefecture and “tsutsu-gaki” hand-dyeing techniques in Fukushima prefecture, both of which are featured in this exhibition, are very unique to the Tohoku region.</p>
		</div>
	</div>
</div>
