<div class="pull-left">
	<div class="woodwork">
		<div>
			<h2>การดัดไม้และเปลือกไม้ </h2>
			<p>
				ความงามของงานดัดไม้นั้นอยู่ที่ลายไม้ที่เป็นเส้นตรงสวยงามและกลิ่นหอมธรรมชาติของต้นสนอากิตะ ซึ่งมีความยืดหยุ่นมาก คาบะ-ไซกุ เป็นผลิตภัณฑ์ที่มีชื่อเสียงของคาคุโนะ ดาเตะ (Kakunodate) จังหวัดอากิตะ ซึ่งเปลือกต้นเชอรี่ภูเขาได้ถูกนำมาประยุกต์ใช้เป็นพื้นผิวไม้ที่เรียกว่า “โมกุทาอิ” (mokutai)
			</p>
		</div>
		<div class="pull-left" style="width: 500px;">
			<br />
			<h2>Bent Woodwork and Bark Craftsmanship</h2>
			<p>Bent woodwork is noted for its beautiful straight grains and the aroma of natural Akita cedar which is very resilient. Kaba-zaiku is a famous product of Kakunodate, Akita prefecture, where the bark of the mountain cherry tree is applied to a wood substrate called “mokutai.”</p>
		</div>
		<div class="pull-right slider-wrapper" ng-controller="WoodworkSliderController" style="margin-top: 4em;">
			<div class="image-current">{{ currentIndex }} / 3</div>
			<slider images="images" imgnumber="currentIndex"  />
		</div>
	</div>
</div>

